version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: npm
    directory: /frontend
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: gomod
    directory: /backend
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
