services:
  postgresserver:
    image: postgres
    command: -c shared_buffers=256MB -c max_connections=200
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - blp_network
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    # logging:
    #   driver: none

  pgadmin:
    image: dpage/pgadmin4:4.18
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@ad.min
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_PORT: 80
    ports:
      - '8081:80'
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - "postgresserver"
    networks:
      - blp_network
    logging:
      driver: none
    user: ${CURRENT_UID}
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  ballerina-core-frontend-dependency-installer:
    build:
      context: ./frontend
      dockerfile: libraries/ballerina-core/Dockerfile
      target: global-dependencies
    volumes:
      - ./frontend/libraries/ballerina-core/node_modules:/app/node_modules
      - ./frontend/libraries/ballerina-core/package.json:/app/package.json:ro
      - ./frontend/yarn.lock:/app/yarn.lock:ro
    command: yarn install --frozen-lockfile
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  ballerina-core-tsc:
    build:
      context: ./frontend
      dockerfile: libraries/ballerina-core/Dockerfile
      target: global-dependencies
    working_dir: /app/frontend/libraries/ballerina-core/
    volumes:
      - .:/app:ro
      - ./frontend/libraries/ballerina-core/bin:/app/frontend/libraries/ballerina-core/bin
    command: yarn tsc -w
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  ballerina-core-prettier:
    build:
      context: ./frontend
      dockerfile: libraries/ballerina-core/Dockerfile
      target: global-dependencies
    working_dir: /app/frontend/libraries/ballerina-core/
    volumes:
      - .:/app
      - ./.gitignore:/app/.gitignore:ro
      - ./.prettierrc:/app/.prettierrc:ro
      - ./.prettierignore:/app/.prettierignore:ro
    command: yarn prettier
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  # spa:
  #   build:
  #     context: .
  #     dockerfile: Docker/Dockerfile.SPA
  #   ports:
  #     - 8088:8088
  #   volumes:
  #     - .:/app
  #   user: ${CURRENT_UID}

volumes:
  pgdata:
  pgadmin-data:

networks:
  blp_network:
    driver: bridge
