<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Keep the public NuGet.org feed -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <!-- Add GitHub Packages feed for your Org (or user) -->
        <add key="GitHubPackages" value="https://nuget.pkg.github.com/Ballerina-Org/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHubPackages>
            <add key="Username" value="Ballerina-Org" />
            <add key="ClearTextPassword" value="GITHUB_TOKEN" />
        </GitHubPackages>
    </packageSourceCredentials>
</configuration>